<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dojos And Ninjas</title>
  </head>
  <body>
    </h1>Dojos and Ninjas</h1>
        <form action="/dojos/add_dojo" method="post">
          <h1>New Dojo</h1>
            <label for="name">Name:</label>
            <input
              type="text"
              name="name"
            />
          <button type="submit">Add Dojo</button>
        </form>
        <a href="/add_ninja">Add Ninja</a>
          <h1>All Dojos</h1>
          {% for dojo in dojos %}
          <a href="/dojos/{{dojo.id}}" 
            ><p>{{dojo.name}}</p></a
          >
          {% endfor %}
  </body>
</html>
